<!--
  Generated template for the AttendancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="googleWhite">
    <ion-title *ngIf="isCourseChosen">Course Attendance List</ion-title>
    <ion-title *ngIf="isStrandChosen">Strand Attendance List</ion-title>
  </ion-navbar>

  <ion-segment [(ngModel)]="programType" color="primary">
    <ion-segment-button *ngFor="let program of programsList" value="{{program}}" (click)="getAttendanceList(program)">
      {{program}}
    </ion-segment-button>
    <!-- <ion-segment-button value="puppies">
          BSAT
        </ion-segment-button> -->
  </ion-segment>


</ion-header>


<ion-content padding>

  <div [ngSwitch]="programType">

    <div *ngSwitchCase="programType">
      <ion-list>
        <button ion-item *ngFor="let list of attendanceList">
          <!-- <ion-avatar item-start>
                        <img src="img/avatar-cher.png">
                      </ion-avatar> -->
          <h2>{{list?.student_first_name}} {{list?.student_last_name}}</h2>
          <ion-icon *ngIf="list.metadata.hasPendingWrites" name="cloud-upload" color="accent" item-right></ion-icon>
          <ion-icon *ngIf="!list.metadata.hasPendingWrites" name="cloud-done" color="primary" item-right></ion-icon>
          <p *ngIf="list.signIn_datetimestamp">Sign in: {{list?.signIn_datetimestamp}}</p>
          <p *ngIf="list.signOut_datetimestamp">Sign out: {{list?.signOut_datetimestamp}}</p>
        </button>
      </ion-list>
    </div>


  </div>




</ion-content>